<div class="container">
    <div class="row">
        <div class="col-12">
            <ul class="list-inline list-inline-dots mb-0">
                <li class="list-inline-item">
                    <a href="https://github.com/nicklog/devliver" target="_blank">
                        <i class="fas fa-cubes"></i>
                        Devliver
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="ml-2" href="https://github.com/nicklog/devliver" target="_blank">
                        <i class="fas fa-code-branch fa-fw"></i>
                        Contribute
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
