<div class="container">
    <div class="row">
        <div class="col-12">
            <a href="https://github.com/nicklog/devliver" target="_blank">
                <i class="fas fa-cubes"></i>
                Devliver
            </a>
            <a class="ml-2" href="https://github.com/nicklog/devliver" target="_blank">
                <i class="fas fa-code-branch fa-fw"></i>
                Contribute
            </a>
        </div>
    </div>
</div>
