<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        {% if is_granted('ROLE_MANAGER') %}
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span>Navigation</span>
            </h6>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('devliver_package_index') }}">
                        <i class="fas fa-cube fa-fw"></i>
                        {{ 'menu.packages'|trans }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('devliver_howto') }}">
                        <i class="fas fa-question-circle fa-fw"></i>
                        How-To
                    </a>
                </li>
            </ul>
        {% endif %}
    </div>
</nav>