{% extends 'layout.html.twig' %}

{% block pageTitle %}
    <i class="fas fa-user fa-fw"></i> {{ app.user.username }}
{% endblock %}

{% block content %}
    <div class="card card-outline card-primary">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link{% if app.request.get('_route') == 'app_profile_index' %} active{% endif %}" href="{{ path('app_profile_index') }}">
                        <in class="fas fa-wrench fa-fw"></in>
                        Settings
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% if app.request.get('_route') == 'app_profile_password' %} active{% endif %}" href="{{ path('app_profile_password') }}">
                        <in class="fas fa-key fa-fw"></in>
                        Change password
                    </a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            {% block profile %}
            {% endblock %}
        </div>
    </div>

{% endblock %}
