{% extends 'profile/base.html.twig' %}

{% block profile %}
    {{ form_start(form) }}
    {{ form_widget(form) }}

    <div>
        <button type="submit" class="btn btn-primary">
            <i class="fas fa-save fa-fw"></i>
            Submit
        </button>
    </div>

    {{ form_end(form) }}

{% endblock %}
