**/*.log
**/*.md
**/*.php~
**/._*
**/.dockerignore
**/.DS_Store
**/.git/
**/.gitattributes
**/.gitignore
**/.gitmodules
**/docker-compose.*.yaml
**/docker-compose.*.yml
**/docker-compose.yaml
**/docker-compose.yml
**/Dockerfile
**/Thumbs.db
.editorconfig
.env.*.local
.env.local
.env.local.php
.phpcs.cache
composer-require-checker.json
Makefile
LICENSE
phpstan.neon
phpcs.xml
phpunit.xml
bin/*
!bin/console
docs/
var/
node_modules/
vendor/
tests/