.web-server-pid
.idea/
.phpcs.cache
docker-compose.override.yml
build/
parameters.yml
version
composer/
data/

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
public/bundles/
public/vendor/
var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
