includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-doctrine/rules.neon
    - phpstan-baseline.neon

parameters:
    level: max
    paths:
        - src
        - tests

    tmpDir: var/cache

    parallel:
        maximumNumberOfProcesses: 4

    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false

    symfony:
        container_xml_path: 'var/cache/test/App_KernelContainer.xml'
        console_application_loader: bin/phpstan-console-loader.php

    doctrine:
        objectManagerLoader: bin/phpstan-doctrine-loader.php

