{% extends 'layout.html.twig' %}

{% block pageTitle %}
    <i class="fas fa-question-circle fa-fw"></i> How To
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            {{ reamdme|markdown_to_html }}
        </div>
    </div>
{% endblock %}

