{% set bodyClasses = 'page-login' %}

{% extends 'layout.html.twig' %}

{% block content %}
    <div class="row align-items-center">
        <div class="col-12 col-md-4 mt-5 mx-auto">

            <form method="post">
                <h2 class="text-primary text-center">Login</h2>

                <div class="card bg-light card-outline card-primary mt-3">
                    <div class="card-body">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                        <div class="mt-4">
                            {% if error %}
                                <div class="alert alert-default-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}
                            <div class="form-group">
                                <input type="text" class="form-control{% if error %} is-invalid{% endif %}" name="username" required="required" autofocus placeholder="Email address" value="{{ last_username }}">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" name="password" required="required" placeholder="Password">
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-block btn-primary">
                            <span class="iconify" data-icon="mdi:login"></span>
                            Sign In
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
