<footer class="footer">
    <div class="container">

        <span class="mr-3">

            <a href="https://github.com/shapecode/devliver" target="_blank">
                <i class="fas fa-cubes"></i>
                Devliver
            </a>
            {% if is_granted('ROLE_USER') %}
                v{{ current_release.name }}
            {% endif %}
        </span>

        <span class="mr-3">
        <a href="https://github.com/shapecode/devliver" target="_blank">
            <i class="fas fa-code-branch"></i> Contribute
        </a>
        </span>

        {% if is_granted('ROLE_USER') %}
            <span class="mr-3">
        <a href="{{ path('devliver_software_index') }}"><i class="fas fa-cube"></i> Software</a>
        </span>

            <span class="mr-3">
        <a href="{{ path('devliver_howto') }}"><i class="fas fa-question-circle"></i> How-To</a>
        </span>
        {% endif %}

    </div>
</footer>
