<footer class="footer">
    <div class="container">
        <a href="https://github.com/shapecode/devliver" target="_blank">
            Devliver
        </a>
        {% if is_granted('ROLE_USER') %}
            {% if current_release is not null %}
                v{{ current_release.name }}
            {% else %}
                v{{ current_release_legacy }}
            {% endif %}
        {% endif %}
        -
        <a href="https://github.com/shapecode/devliver" target="_blank">Contribute</a>
    </div>
</footer>
