<footer class="footer">
    <div class="container">
        <nav class="nav">
            <a class="nav-link" href="https://github.com/shapecode/devliver" target="_blank">
                Devliver
                {% if is_granted('ROLE_USER') %}
                    v{{ devliver_version }}
                {% endif %}
            </a>
            <a class="nav-link" href="https://github.com/shapecode/devliver" target="_blank">Contribute</a>
        </nav>
    </div>
</footer>
