{% extends '@Devliver/Profile/base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block profile %}
    {{ form_start(form) }}
    {{ form_widget(form) }}

    <div>
        <button type="submit" class="btn btn-primary">
            <i class="fas fa-save fa-fw"></i>
            {{ 'submit'|trans }}
        </button>
    </div>

    {{ form_end(form) }}

{% endblock %}
