{% extends 'layout.html.twig' %}

{% block pageTitle %}
    <i class="fas fa-sign-in-alt fa-fw"></i> Setup
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-4">
            {{ form(form) }}
        </div>
    </div>

{% endblock %}