{% set bodyClasses = 'page-login' %}

{% extends 'layout.html.twig' %}

{% block content %}
    <div class="flex-fill d-flex flex-column justify-content-center py-4">
        <div class="col-12 col-md-4 mt-5 mx-auto">

            {{ form_start(form) }}
                <h2 class="text-primary text-center">Setup</h2>

                <div class="card card-md">
                    <div class="card-body">
                        <h2 class="card-title text-center mb-4">Create an admin user</h2> 
                        {{ form_widget(form) }}
                        <div class="form-footer">
                            <button type="submit" class="btn btn-primary w-100">Sing up</button>
                        </div>
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
