{% extends 'layout.html.twig' %}

{% block pageTitle %}
    Add user
{% endblock %}

{% block content %}
    {{ form_start(form) }}
    <div class="card card-primary card-outline">
        <div class="card-header">
            User
        </div>
        <div class="card-body">
            {{ form_widget(form) }}
        </div>
        <div class="card-footer text-end">
            <div class="d-flex">
                <a href="{{ path('app_user_index') }}" class="btn btn-link">Cancel</a>
                <button type="submit" class="btn btn-primary ms-auto">Submit</button>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
